<h2> 可樂旅遊</h2>
<h1>顧客對路線的忠誠度分析</h1>


<%= select_tag(:Region_code, options_for_select([['日本', 1], ['東南亞', 2]])) %>
<%= select(:Region_name, :Region_code, [['日本', 1], ['日本北海道', 2], ['日本東京', 3], ['日本關西', 4], ['日本北陸', 5], ['日本東北', 6], ['日本九州', 7], ['日本琉球', 8], ['韓國', 9], ['韓國首爾', 10], ['韓國釜山', 11], ['韓國濟州島', 12], ['韓國（迷你小團）', 13], ['泰國', 14], ['泰國曼谷', 15], ['泰國普吉島、蘇梅島', 16]],) %>  
<%=submit_tag  "搜尋"%>



